{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>969.coach</title>
    <link href="../../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/bootstrap/bootstrap-grid.min.css" rel="stylesheet">
    <link href="../../static/css/bootstrap/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="../../static/css/bootstrap/bootstrap-utilities.min.css" rel="stylesheet">

  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="{% url 'home' %}">
          <img
            src="../../static/media/img/logo.png"
            height="75"
            alt="969.coach Logo"
            loading="lazy"
            style="margin-top: -1px;"
          />
        </a>


          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-link px-3 me-2">
                {% if user.is_authenticated %}
                    <p> {{ user.username }}</p>
                    <a href="{% url 'home' %}"><span></span> Logout</a>
                {% else %}
                    <a href="{% url 'login' %}"> Login</a>
                {% endif %}
            </button>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->




{#<section class="vh-100 bg-image"#}
{#  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">#}
{#  <div class="mask d-flex align-items-center h-100 gradient-custom-3">#}
{#    <div class="container h-100">#}
{#      <div class="row d-flex justify-content-center align-items-center h-100">#}
{#        <div class="col-12 col-md-9 col-lg-7 col-xl-6">#}
{#          <div class="card" style="border-radius: 15px;">#}
{#            <div class="card-body p-5">#}
{#              <h2 class="text-uppercase text-center mb-5">Create an account</h2>#}
{##}
{#              <form action="{% url 'home' %}" method="post">#}
{#                  {% csrf_token %}#}
{#                  {{ form.as_p }}#}
{##}
{#                <div class="form-outline mb-4">#}
{#                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />#}
{#                  <label class="form-label" for="form3Example1cg">Имя</label>#}
{#                </div>#}
{##}
{#                <div class="form-outline mb-4">#}
{#                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />#}
{#                  <label class="form-label" for="form3Example4cg">Пароль</label>#}
{#                </div>#}
{##}
{#                <div class="d-flex justify-content-center">#}
{#                  <button type="button"#}
{#                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Войти</button>#}
{#                    <input type="submit" value="Войти" class="btn btn-primary btn-lg px-5">#}
{#                </div>#}
{##}
{#                <p class="text-center text-muted mt-5 mb-0">У вас еще нет аккаунта? <a href="{% url 'registration' %}"#}
{#                    class="fw-bold text-body"><u>Зарегистрируйтесь!</u></a></p>#}
{##}
{#              </form>#}
{##}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}

<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                {{ form.as_p }}
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" value="Log In" class="btn btn-primary btn-lg px-5">
                                </div>
                            </div>
                            <p class="text-center text-muted mt-5 mb-0">У вас еще нет аккаунта? <a href="{% url 'registration' %}"
                            class="fw-bold text-body"><u>Зарегистрируйтесь!</u></a></p>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      <script src="../../static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.esm.min.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
